<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunshuju.domain.dao.SysResourceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yunshuju.domain.entity.SysResource">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="method" property="method" />
        <result column="data_permission" property="dataPermission" />
        <result column="api" property="api" />
        <result column="remarks" property="remarks" />
        <result column="sort" property="sort" />
        <result column="created" property="created" />
        <result column="updated" property="updated" />
    </resultMap>

</mapper>
